{% extends 'base.html' %}
{% block title %} About {% endblock %}

{% block content %}

    <div class="container">
        <h3>So You Want to Know About Us</h3>
        <br>
        <p>No one cares how you feel on Facebook. No one cares how you feel on Twitter. And guess what, no one cares how you feel on Instagram.
           Does that make you feel sad? Then tell us how you really feel! Here at Tell Us How You Really Feel, we do in fact care about how you feel.
           And that is our only purpose, simple as that.</p>
        <br>
        <br>
        <center>
            <p><b>
                Create an account, click mood, and start sharing.
            </b></p>
            <br>
            <br>
            <img src="/static/faces.png">
        </center>
        <br>
        <br>
    </div>

{% endblock %}