{% extends "main/base.html" %}
{% block content %}
    <div class="content" style="padding-top:50px;">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                {% load bootstrap3 %}

                <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-default">Login</button>
                    <input type="hidden" name="next" value="{% url 'main.views.home.home' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
