{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}

{% block content %}

   <div class="container" style="padding-top:50px;">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                {% load bootstrap3 %}
                <h3>Create An Account</h3>
                <form method="post" action="/signup">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-default">Sign Up</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}